[user]
        name = David Reissner
        email = david@sauspiel.de
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/Cliff/.gitignore
	editor = mate -w -l1
	editor = slime -n -w
	
[github]
	user = cliff
[alias]
	st = status
	gcv = commit
